body{
	background-image: url(galaxy1.jpg);
	background-size: 390px 630px;
}
#btn{
	font-family: "arial";
	color: white;
	background-color: #ff5722;
}
#btn2{
	font-family: "arial";
	color: white;
	background-color: #ff5722;
}
#welcome{
	font-family: "arial";
	color: white;
	background-color: #ff8a65;
	font-size: 13px;

}
.points {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}

#title{
    color: #7FEDFF;
    background-color: black;
}


f44336=red
ff5722=deep orange red
212121=blackgrey
ff7043=light pink (samen)
ff8a65= darker pink
ff5722= dark pink