body{
	background-image: url(galaxy.jpg);
	background-size: 390px 630px;
}
#btn{
	font-family: "arial";
	color: white;
	background-color: red;
}
#btn2{
	font-family: "arial";
	color: white;
	background-color: blue;
}
#welcome{
	font-family: "arial";
	color: white;
	background-color: green;

}